
<head>
	<link href="css/main.css" rel="stylesheet">
	<link href="css/cube.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body style="margin: 0">
	<form ng-app="universumApp" ng-controller="universumController" style="margin: 0">
		<div id="sky" style="position: absolute; top: 0; right: 0; bottom: 0; left: 0;background-color:  rgb(50,50,100)"></div>
		<div style="position: absolute; top: 40px; left: 40px;transform: scale(.90)">
			<div id="field" style="position: absolute; width: calc(830px + 58px); height: calc(808px + 58px); top: 0; left: 0;">
				<div ng-repeat="item in fields" class="{{item.containerClass}}" ng-class="{active:currentField.id == item.id}" ng-style="item.style">
					<span ng-class="item.iconClass" ng-if="!item.hideIcon "></span>
				</div>
			</div>

			<div ng-repeat="item in pack" class="card {{item.class}}" ng-class="{active:currentField.type == item.id}">
				<span class="card-image" ng-class="item.class" ng-if="currentField.type != item.id" ng-cloak></span>
				<span class="card-text" ng-if="currentField.type == item.id" ng-cloak>{{currentText}}</span>
			</div>
		</div>
		<div class="cube-static" ng-show="!stepInProgress" ng-click="sartStep()" ng-cloak>
			<div>
				<span class="point top-left" ng-if="isShowCubePoints(1).topLeft" ng-cloak></span>
				<span class="point center-left" ng-if="isShowCubePoints(1).centerLeft" ng-cloak></span>
				<span class="point bottom-left" ng-if="isShowCubePoints(1).bottomLeft" ng-cloak></span>
				<span class="point center" ng-if="isShowCubePoints(1).center" ng-cloak></span>
				<span class="point top-right" ng-if="isShowCubePoints(1).topRight" ng-cloak></span>
				<span class="point center-right" ng-if="isShowCubePoints(1).centerRight" ng-cloak></span>
				<span class="point bottom-right" ng-if="isShowCubePoints(1).bottomRight" ng-cloak></span>
			</div>
			<div style="left: 60px;">
				<span class="point top-left" ng-if="isShowCubePoints(2).topLeft" ng-cloak></span>
				<span class="point center-left" ng-if="isShowCubePoints(2).centerLeft" ng-cloak></span>
				<span class="point bottom-left" ng-if="isShowCubePoints(2).bottomLeft" ng-cloak></span>
				<span class="point center" ng-if="isShowCubePoints(2).center" ng-cloak></span>
				<span class="point top-right" ng-if="isShowCubePoints(2).topRight" ng-cloak></span>
				<span class="point center-right" ng-if="isShowCubePoints(2).centerRight" ng-cloak></span>
				<span class="point bottom-right" ng-if="isShowCubePoints(2).bottomRight" ng-cloak></span>
			</div>
		</div>

		<div class="wrap1" ng-show="stepInProgress" ng-cloak>
			<div class="cube">
				<div class="front">
					<span class="point center"></span>
				</div>
				<div class="back">
					<span class="point top-left"></span>
					<span class="point bottom-right"></span>
				</div>
				<div class="top">
					<span class="point top-left"></span>
					<span class="point center"></span>
					<span class="point bottom-right"></span>
				</div>
				<div class="bottom">
					<span class="point top-left"></span>
					<span class="point top-right"></span>
					<span class="point bottom-left"></span>
					<span class="point bottom-right"></span>
				</div>
				<div class="left">
					<span class="point top-left"></span>
					<span class="point top-right"></span>
					<span class="point center"></span>
					<span class="point bottom-left"></span>
					<span class="point bottom-right"></span>
				</div>
				<div class="right">
					<span class="point top-left"></span>
					<span class="point center-left"></span>
					<span class="point bottom-left"></span>
					<span class="point top-right"></span>
					<span class="point center-right"></span>
					<span class="point bottom-right"></span>
				</div>
			</div>
		</div>
		<div class="wrap2" ng-show="stepInProgress" ng-cloak>
			<div class="cube">
				<div class="front">
					<span class="point center"></span>
				</div>
				<div class="back">
					<span class="point top-left"></span>
					<span class="point bottom-right"></span>
				</div>
				<div class="top">
					<span class="point top-left"></span>
					<span class="point center"></span>
					<span class="point bottom-right"></span>
				</div>
				<div class="bottom">
					<span class="point top-left"></span>
					<span class="point top-right"></span>
					<span class="point bottom-left"></span>
					<span class="point bottom-right"></span>
				</div>
				<div class="left">
					<span class="point top-left"></span>
					<span class="point top-right"></span>
					<span class="point center"></span>
					<span class="point bottom-left"></span>
					<span class="point bottom-right"></span>
				</div>
				<div class="right">
					<span class="point top-left"></span>
					<span class="point center-left"></span>
					<span class="point bottom-left"></span>
					<span class="point top-right"></span>
					<span class="point center-right"></span>
					<span class="point bottom-right"></span>
				</div>
			</div>
		</div>

		<script src="js/main-module.js"></script>
	</form>
</body>